<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SnapVid.TV</title>
        <link rel="icon" type="image/png" href="/static/img/logo-icon.png">
        <link type="text/css" rel="stylesheet" href="/static/lib/jquery/jquery-ui-1.8.2.custom.css" />
        <link type="text/css" rel="stylesheet" href="/static/ui.css" />
    </head>
    <body>
        <ul class="page ui-widget ui-widget-content" cellspacing="0" cellpadding="0">
            <li class="ui-widget-header">
                <ul>
                    <li class="search">
                        <input type="text" name="search" id="searchQuery" class="srch" /><input type="button" value="" id="searchButton" class="submit" />
                    </li>
                    <li class="topcenter">
                       <span id="nowPlaying"></span>

                    </li>
                    <li class="user-info" id="profile">
                        {% if user.username %}<a href="#" class="userid">{% load gravatar %}
                            {% gravatar user.username 16 %} {{ user.username }}</a>
                        | <a href="#" id="logoutLink" class="logout">Log out</a>
                        {% else %}<a href="#" id="loginLink">Log in</a>
                        | <a href="#" class="register" id="registerLink" title="1-Step Register">Register</a>
                        {% endif %}
                    </li>
                </ul>
            </li>
            <li class="controls">
                <div class="navigation inner ui-corner-all">
                    <ul>
                        {% comment %}
                        <li>
                            <a href="#" class="home-btn">Home</a>
                        </li>
                        {% endcomment %}
                        <li>
                            <a href="#" id="searchResultsNav" class="results-btn">Results 
                                <span>
                                    0
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="queue-btn">Queue
                                <span>
                                    0
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="lists inner ui-corner-all">
                    <ul>
                    	{% comment %}
                        <li>
                            <a href="#" class="playlists-btn">Playlists 
                                <span id="add-playlist">
                                    +
                                </span>
                            </a>
                        </li>
						{% endcomment %}
                        <li class="favorites">
                            <a href="#" class="fav-btn">Favorites 
                                <span>
                                </span>
                            </a>
                        </li>
                        <ul id="playlist-container">
                        </ul>
                        <li href="#" class="add-to-playlist">
                            New Playlist
                        </li>
                    </ul>

                    <div class="ad ui-corner-bl ui-corner-br">
                        Sponsors
                        <br/>
                        Low prices on music. Qualified orders over $25 ship free.
                    </div>

                </div>
            </li>
            <li class="results">
                <div class="inner ui-corner-all">
                    <div class="tabs ui-corner-tl ui-corner-tr">
                        <h1 id="status">Welcome! Start by doing a search for your favorite video.</h1>
                        {% comment %}
                        <ul id="tabbar">
                            <li class="ui-corner-tl ui-corner-tr active">
                                View All
                            </li>
                            <li class="youtube ui-corner-tl ui-corner-tr">
                                YouTube
                            </li>
                            <li class="vimeo ui-corner-tl ui-corner-tr">
                                Vimeo
                            </li>
                            <li class="truveo ui-corner-tl ui-corner-tr">
                                Truveo
                            </li>
                        </ul>
                        {% endcomment %}
                    </div>
                    <div class="video-list-container">
                        <div class="video-list ui-widget">
                            <ul class="th">
                                <li>
                                    <span class="add" id="video-list-addAll">
                                        <img src="/static/img/icon_add_all.png" />
                                    </span>
                                    <span class="fav">
                                        &nbsp;
                                    </span>
                                    <span>
                                        Title
                                    </span>
                                    <span>
                                        Description
                                    </span>
                                </li>
                            </ul>
                            <br class="clear" />
                            <div class="video-list-items-container">
                                <div class="video-list-items">
                                </div>
                                <ul id="templateContainer" style="display: none;">
                                    <li id="resultslistItemTemplate" class="tr">
                                        <span class="add">
                                            <img src="/static/img/icon_add.png" />
                                        </span>
                                        <span class="fav">
                                            <img src="/static/img/icon_star_gray.png" />
                                        </span>
                                        <span class="video-title">
                                        </span>
                                        <span class="video-desc">
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="video-list-slider">
                        </div>
                    </div>
                </div>
            </li>
            <li class="video-display">
                <div class="inner ui-corner-all">
                    <div id="playerContent">
                        filler
                    </div>
                </div>
            </li>
            <li class="foot">
                <div class="list inner ui-corner-all">
                    <div id="sliderContent" class="ui-corner-all">
                        <div class="viewer ui-corner-all" id="videoListParent">
                            <ul id="videoList" class="content-queue ui-helper-clearfix">
                                <li id="videoListItemTemplate" style="display:none">
                                    <img src="/static/img/tmp/v2.jpg" width="120" height="70"/>Pink Floyd - Anothe...
                                </li>
                            </ul>
                        </div>
                        <div id="slider">
                        </div>
                        <div class="links">
                            &copy; Copyright 2010 SnapVid.TV and Dambach-Wilson - All Rights Reserved - <a href="static/legal/tos.html" target="_blank">Terms Of Service</a>
                            - <a href="static/legal/privacy.html" target="_blank">Privacy policy</a>
                            / <a href="#">About us</a>
                            - 
                            <span class="usercount">
                                {{user_count}} users.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="trash inner ui-corner-all">
                    Trash
                </div>
            </li>
        </ul>
        <div id="dialog-register" title="Register" class="ui-dialog">
            <p>
                <label for="registerEmail">
                    Email:
                </label>
                <input type="text" id="registerEmail" class="text ui-widget-content ui-corner-all" />
                <span>
                    Yes, it is that simple.
                </span>
            </p>
        </div>
        <div id="dialog-forgotpassword" title="Forgot Password" class="ui-dialog">
            <p>
                <label for="forgotPasswordEmail">
                    Email or username:
                </label>
                <input type="text" id="forgotPasswordEmail" class="text ui-widget-content ui-corner-all" />
                <span>
                    Don't worry, we'll email you a link to reset your password.
                    <br/>
                    It'll be a Snap.
                </span>
            </p>
        </div>
        <div id="dialog-share" title="Share with friends" class="ui-dialog">
            <p>
                <label for="shareEmail">
                    Email(s):
                </label>
                <input type="text" id="shareEmail" class="text ui-widget-content ui-corner-all" />
                <span>
                    Share with your friends! (Comma separated)
                    <br/>
                    It'll be a Snap.
                </span>
            </p>
        </div>
        <div id="dialog-login" title="Log in" class="ui-dialog">
            <p>
                <label for="username">
                    Username:
                </label>
                <input type="text" id="username" class="text ui-widget-content ui-corner-all" />
                <label for="password">
                    Password:
                </label>
                <input type="password" id="password" class="text ui-widget-content ui-corner-all" />
                <span>
                </span>
            </p>
        </div>
        <div id="dialog-settings" title="Settings" class="ui-dialog">
            <div id="accordion-settings" title="Settings" class="ui-accordion shadow ui-corner-all">
                <h3 class="ui-accordion-header"><a href="#">Account Details</a></h3>
                <div>
                    <span id="settings_gravatar">
                    </span>
                    <br/>
                    <a target="_blank" href="http://gravatar.com">Change your global web avatar with Gravatar</a>
                    <br/>
                    <br/>
                    <label for="settings_username">
                        *Username:
                    </label>
                    <input type="text" id="settings_username" class="text ui-widget-content ui-corner-all"/>
                    <label for="first_name">
                        First name:
                    </label>
                    <input type="text" id="first_name" class="text ui-widget-content ui-corner-all"/>
                    <label for="last_name">
                        Last name:
                    </label>
                    <input type="text" id="last_name" class="text ui-widget-content ui-corner-all"/>
                    <label for="email">
                        *Email:
                    </label>
                    <input type="text" id="email" class="text ui-widget-content ui-corner-all" />
                </div><h3 class="ui-accordion-header"><a href="#">Change Password </a></h3>
                <div>
                    <label for="currentPassword">
                        Current password:
                    </label>
                    <input type="password" id="currentPassword" class="text ui-widget-content ui-corner-all" />
                    <label for="newPassword">
                        New password:
                    </label>
                    <input type="password" id="newPassword" class="text ui-widget-content ui-corner-all" />
                    <label for="newPasswordConfirm">
                        Confirm new password:
                    </label>
                    <input type="password" id="newPasswordConfirm" class="text ui-widget-content ui-corner-all" />
                </div><h3 class="ui-accordion-header"><a href="#">Search</a></h3>
                <div>
                    <label for="preferHD" title="Prefer HD content when available">
                        Prefer HD content when available:
                    </label>
                    <input type="checkbox" id="preferHD"/>
                    <br/>
                    <label for="allowAdultContent" title="Allow adult content">
                        Allow adult content:
                    </label>
                    <input type="checkbox" id="allowAdultContent"/>
                    <br/>
                    Sources: (ctrl-click or drag box to multi-select)
                    <ol id="enginesList">
                        {% for engine in engines %}
                        <li class="ui-widget-content">
                            {{ engine }}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                {% comment %}<h3 class="ui-accordion-header"><a href="#">Theme</a></h3>
                <div>
                    Theme:
                    <div id="themeSwitcher">
                    </div>
                </div>
                <h3 class="ui-accordion-header"><a href="#">Advertising</a></h3>
                <div>
                    Advertising - coming soon!! I know you can't wait. 
                </div>
                {% endcomment %}
            </div>
            <span id="setChgCnfrm">
            </span>
        </div>
        <div id="dialog-generic" title="" class="ui-dialog">
            <p>
                <label>
                </label>
            </p>
        </div>
        <script>
            var sites = {{ sites_list_json|safe}},
            initPlaylists = {{ playlists_json|safe}},
            initUserAuthenticated = {{user_authenticated}},
            initUserSettings = {{settings_json|safe}};
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="static/lib/jquery/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
        <script type="text/javascript" src="/static/lib/jquery/jquery-ui-1.8.5.custom.min.js"></script>
        <script type="text/javascript" src="/static/lib/plugins.js"></script>
        <script type="text/javascript" src="/static/lib/video-api.js"></script>
        <script type="text/javascript" src="/static/lib/swfobject.js"></script>
        <script type="text/javascript" src="/snapvid.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31568498-1']);
            _gaq.push(['_trackPageview',location.pathname + location.search  + location.hash]);
           (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            var ytFeedVideos = [];
            function loadYTFeed(data) {
                var feed = data.feed,
                        entries = feed.entry || [];
                var newYtFeedVideos = [];
                for (var i = 0; i < entries.length; i++) {
                    var entry = entries[i],
                            thumbnail = entry.media$group.media$thumbnail[0].url,
                            $img = $('<img>').attr('src', thumbnail),
                            url = entry.link[0].href,
                            video_id = youtube_parser(url);

                    var v = {
                        desc:entry.media$group.media$description.$t,
                        externalid:video_id, //TODO
                        playerType:"youtube",
                        playlisted:false,
                        playlistitemid:"0",
                        site:sites[0],
                        thumbnail:thumbnail,
                        thumbnailImgElement:$img,
                        title:entry.title.$t,
                        url:url
                    };
                    v['snapvidId'] = "1" + video_id;
                    newYtFeedVideos.push(v);
                }
                ytFeedVideos = shuffle(newYtFeedVideos);
            }
            function youtube_parser(url){
                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match&&match[7].length==11){
                    return match[7];
                }
            }
            function shuffle(o)
            {
                for(var j, x, i = o.length; i;
                    j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
            };
            function loadYTFeedScript() {
                var ytFeed = document.createElement('script');
                ytFeed.type = 'text/javascript';
                ytFeed.async = true;
                ytFeed.src = 'http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured?v=2&alt=json-in-script&format=5&callback=loadYTFeed';
                var n = document.getElementsByTagName('script')[0];
                n.parentNode.insertBefore(ytFeed, n);
            }
        </script>
    </body>
</html>
