html,body {
	width: 100%;
	height: 100%;
	background-color: #eee;
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	overflow: hidden;
}

.clear {
	clear: both;
}

.page {
	width: 100%;
	height: 100%;
}

.highlight {
	font-weight: bold;
	background-color: yellow;
}

/* Header */
.ui-widget-header ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.ui-widget-header ul li {
	float: left;
	padding: 0px 10px;
}

.ui-widget-header ul li.user-info {
	float: right;
	color: white;
}

.ui-widget-header ul li.user-info a {
	color: #FFFFFF;
	font-size: 1.1em;
	padding: 0 5px;
	text-decoration: none;
}

.ui-widget-header ul li.user-info a:hover {
	text-decoration: underline;
}

.ui-widget-header ul li.search {
	margin-top: -2px;
	padding-left: 5px;
}

.ui-widget-header ul li input.srch {
	float: left;
	margin: 0px;
	padding: 5px 4px;
	color: #000;
	font-size: 11px;
	border: 1px solid #dbdbdb;
	border-right: none;
	height: 13px;
	width: 150px;
}

.ui-widget-header ul li input.submit {
	float: left;
	margin: 0px;
	padding: 0px;
	background: #fff url(/static/img/icon_search.png) center center
		no-repeat;
	border: 1px solid #dbdbdb;
	width: 25px;
	height: 25px;
}
.topcenter {
    color:white;
    text-align: center;
    font-weight: bold;
    width: 80%;
    display: inline-block;
    font-size: large;
}
/* Body */
.page {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.page td {
	height: 100%;
}

.page .controls {
	width: 160px;
	padding: 6px 0px 6px 6px;
	float: left;
	overflow: hidden;
}

.page .controls ul {
	list-style: none;
	margin: 0px;
	padding: 10px 0px 0px 5px;
}

.page .controls ul li {
	margin: 0px;
	padding: 2px 0px;
	font-size: 12px;
}

.page .controls ul li span {
	float: right;
	margin-right: 20px;
	color: #999;
	font-size: 11px;
	padding: 1px 0 0 0;
}

.page .controls ul li a {
	color: #000;
	font-weight: bold;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 4px 0px 4px 35px;
	text-decoration: none;
	display: block;
	margin: 0px;
}

.page .controls ul li ul,.page .controls ul li ul li {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
}

.page .controls ul li ul li a {
	color: #666;
	font-weight: normal;
	padding: 4px;
	margin-left: 31px;
}

.page .controls ul li ul li a.ui-state-active {
	background: #eee;
	border: none;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 4px 6px;
	margin-left: 29px;
}

.page .controls .navigation {
	height: 100px;
	margin-bottom: 5px;
}

.page .controls a.home-btn {
	background-image: url(/static/img/icon_home.png);
}

.page .controls a.results-btn {
	background-image: url(/static/img/icon_results.png);
}

.page .controls a.fav-btn {
	/*background-image: url(/static/img/icon_heart.png);*/
	color: #CC3300;
}

.page .controls a.playlists-btn {
	background-image: url(/static/img/icon_star.png);
}

.page .controls li:hover,.page .controls a:hover {
	color: #4895d3;
	cursor: pointer;
}

.page .controls .add-to-playlist {
	color: #fff;
	background: #ccc;
	padding: 4px 2px;
	font-weight: normal;
	font-size: 11px;
	width: 80px;
	text-align: center;
	margin: 5px 0 0 25px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: none;
}

/* Video Display */
.page .video-display {
	padding: 6px 0px;
	float: left;
	display: none;
}

.page #playerContent {
	width: 100%;
	height: 100%;
	border: none;
}

.page .video-display .inner {
	background-color: #ccc;
	text-align: center;
}

/* Results */
.page .results {
	padding: 6px;
	float: left;
}

.page .lists .ad {
	background-color: #669966;
	font-size: 9px;
	line-height: 13px;
	color: #fff;
	padding: 8px;
	position: absolute;
}

.page .inner {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.page .tabs {
	height: 60px;
	padding: 6px;
	background-color: #999;
	overflow: hidden;
}

.page .tabs h1 {
	font-size: 17px;
	font-weight: normal;
	color: #fff;
	margin: 8px 0 0 0;
	padding: 0px;
}

.page .tabs ul {
	list-style: none;
	margin: 12px 0 0 0;
	padding: 0px;
}

.page .tabs li {
	width: 80px;
	height: 20px;
	padding-top: 5px;
	float: left;
	background-color: #888;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-right: 1px;
	cursor: pointer;
	border: 2px solid #888;
}

.page .tabs li.youtube {
	background: #888 url(/static/img/logo_youtube.png) center center
		no-repeat;
	text-indent: -2000px;
}

.page .tabs li.vimeo {
	background: #888 url(/static/img/logo_vimeo.png) center center no-repeat;
	text-indent: -2000px;
}

.page .tabs li.truveo {
	background: #888 url(/static/img/logo_truveo.png) center center
		no-repeat;
	text-indent: -2000px;
}

.page .tabs li.active {
	background-color: #666;
	border: 2px solid #666;
}

.page .tabs li:hover {
	border: 2px solid #eaeaea;
}

/* Video List */
.page #videoList li {
	cursor: pointer;
}

/* Footer */
.page .foot {
	height: 145px;
	padding: 0px 6px 6px 6px;
}

.page .foot .links {
	position: absolute;
	bottom: 11px;
}

.page .foot .links,.page .foot .links a {
	color: #999;
}

.page .foot img {
	margin: 20px 4px;
	padding: 1px;
	border: 1px solid #ccc;
}

.page .foot .list {
	float: left;
}

.page .foot .trash {
	float: right;
	font-weight: bold;
	text-align: center;
	background: #fff url(/static/img/trash.png) center center no-repeat;
	height: 35px;
	padding: 110px 0 0 0;
	display: none;
}

.page .foot ul {
	list-style: none;
	padding: 0;
	height: 120px;
}

.page .foot li {
	padding: 1px;
	width: 120px;
	height: 100px;
	display: list-item;
	float: left;
	margin: 0 4px 0 0;
	color: #777;
}

.page .foot li img {
	position: relative;
	z-index: 1;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0 0 3px 0;
}

.page .foot li img:hover {
	border: 1px solid #4895d3;
}

.page .foot li .hover {
	position: absolute;
	z-index: 10;
	border: 1px solid #3781cc;
	padding: 1px;
	margin: 0 0 3px 0;
	width: 120px;
	height: 70px;
	opacity: .9;
	filter: alpha(opacity =   90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	text-align: center;
}

.page .foot li .hover img {
	border: none;
	margin-top: 15px;
	position: relative;
}

.page .foot li .hover img.starLrg {
	
}

.page .foot li .hover img.mailLrg {
	
}

.page .foot li p {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 0.8em;
}

/* Video List */
.page .video-list {
	width: 100%;
	text-align: left;
	position: absolute;
}

.page .video-list-items {
	width: 100%;
	position: absolute;
}

.page .video-list .th {
	clear: both;
}

.page .video-list .th span {
	margin: 0px;
	padding: 10px 6px 0px 6px;
	height: 25px;
	border-left: 1px solid #fff;
	float: left;
	width: 46%;
	background: #ccc url(/static/img/thead_bg.png) top left repeat-x;
	font-weight: bold;
}

.page .video-list span.add {
	width: 20px;
	cursor: pointer;
}

.page .video-list span.fav {
	width: 20px;
	cursor: pointer;
}

.page .video-list-container {
	overflow: hidden;
	padding: 10px 10px 10px 5px;
	position: relative;
}

.page #video-list-slider {
	position: absolute;
	right: 10px;
	bottom: 7px;
}

.page .video-list-items-container {
	overflow: hidden;
	position: relative;
}

.page .video-list .tr {
	clear: both;
}

.page .video-list .tr:hover {
	color: #4895d3;
}

.page .video-list .tr.playing span {
	background-color: #4277bc;
	background-image: url("/static/img/head_bg.jpg");
	color: #fff;
	font-weight: bold;
}

.page .video-list .tr.playing span:not(:first-child) {
	border-left: 1px solid #4277bc;
}

.page .video-list ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.page .video-list .tr span {
	margin: 0px;
	padding: 8px 6px;
	border-left: 1px solid #fff;
	cursor: pointer;
	float: left;
	width: 46%;
	height: 14px;
	overflow: hidden;
}

.page .video-list .tr .video-title {
	white-space: nowrap;
}

.page .video-list .tr .video-desc {
	white-space: nowrap;
	/* I'm right now wrapping looks terrible so I'm putting nowrap on here */
}

.page .video-list .tr span.action {
	padding: 6px;
	height: 18px;
	width: 18px;
}

.page .video-list span {
	background-color: #eee;
}

/* Slider */
#sliderContent {
	width: 850px;
	margin: 8px auto 0 auto;
}

#slider {
	margin-top: 6px;
}

.viewer {
	width: 100%;
	height: 110px;
	margin: 0 auto 0;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

.content-queue { /*  width: 1000px;*/
	/*HACK: Buying us time till we figure out why it isn't resizing automatically*/
	position: relative;
	overflow: hidden;
	height: 110px;
}

#videoList li.playing p {
	font-weight: bold;
}

#videoList li.playing img, #videoList li.playing img:hover {
	border: 2px solid #4277BC;
}

.ui-accordion {
	width: 288px;
}

.ui-dialog,.ui-dialog p {
	width: 300px;
}

.ui-dialog {
  background: #fff;
	-moz-box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: 1px 1px 4px #999;
	-o-box-shadow: 1px 1px 4px #999;
	box-shadow: 1px 1px 4px #999;
	border: 1px solid #999;
}

.ui-accordion label,.ui-accordion .text,.ui-dialog label,.ui-dialog .text,.ui-dialog span
	{
	display: block;
}

.ui-accordion label,.ui-dialog label {
	font-weight: bold;
	color: #000;
}

.ui-accordion .text,.ui-dialog .text {
	background: #fff;
	padding: 4px;
	width: 225px;
}

/* Playlists */
.playlist {
    width: 125px;	
}